@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: var(--fonte-padrão);
}

:root {
    --fonte-padrão: 'Roboto', sans-serif;
    --cor-blocos: #353434;
    --cor-risco: rgb(39, 36, 36);
}

body {
  background-color: black;
  color: white;
}

.mobile-nav {
    width: 100vw;
    height: 7vh;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-y: hidden;
    border-bottom: 1px solid rgb(39, 36, 36);
  }
  
.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 7vh;
  right: 20px;
  background-color: #333;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
  display: none; 
}

.menu-list.active {
  display: flex;
}

.menu-list li {
  display: block;
}

.menu-list a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 10px;
}

#hamburger-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  margin-right: 30px;
  overflow-y: hidden;
}

#hamburger-btn span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: all 0.3s ease;
}

#hamburger-btn.active span:nth-child(2) {
  opacity: 0;
}

#hamburger-btn.active span:nth-child(1) {
  transform: translateY(8px) rotate(50deg);
}

#hamburger-btn.active span:nth-child(3) {
  transform: translateY(-8px) rotate(-50deg);
}

.menu-open {
  display: block;
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

span, li{
  overflow-y: hidden;
}

nav > div:nth-child(1n) > img {
    width: 100px;
    margin-right: 50px;
    margin-top: 5px;
}

nav > ul > li:nth-child(1) > a > span {
  padding-top: 5px;
  padding-right: 3px;
  position: relative;
  top: 3px;
}

nav > ul > li:nth-child(2) > a > span {
  padding-top: 3px;
  padding-right: 3px;
  position: relative;
  top: 3px;
}

nav > ul > li:nth-child(3) > a > span {
  padding-top: 5px;
  padding-right: 3px;
  position: relative;
  top: 3px;
}

body > nav > ul > li:nth-child(3) {
  margin-bottom: 5px;
}

header {
  margin-top: 15px;
  height: 5vh;
  overflow-y: hidden;
}

.contorno-bloco {
  width: fit-content;
  background-color: var(--cor-blocos);
  border-radius: 5px;
  margin-left: 5px;
  margin-bottom: 20px;
  display: inline-block;
  vertical-align: middle;
}

.contorno-bloco > span {
  font-size: 30px;
  padding: 3px 3px 0px 3px;
}

h1 {
  font-size: 27px;
  display: inline-block;
  transform: translateY(3px)
}

#caixa1{
  width: 96%;
  height: fit-content;
  margin: auto;
  background-color: var(--cor-blocos);
  border-radius: 10px;
  margin-top: 7px;
  padding-bottom: 10px;
}

#caixa1 > h2 {
  padding: 10px 0px 0px 4px;
}

#caixa1 > p {
  padding-left: 4px;
  padding-bottom: 10px;
}

#caixa1 > div:nth-child(3) {
  width: fit-content;
  display: inline-block;
  padding: 0px 10px 0px 10px;
  border-right: 3px solid var(--cor-risco);
}

#caixa1 > div:nth-child(3) > ol > li {
  padding-bottom: 4px;
}

.graficos {
  display: inline-block;
  vertical-align: middle;
  height: 117px;
  position: absolute;
  overflow-y: hidden;
}

.graficos > .linhas{
  display: inline-block; 
  height: 20px; 
  background: linear-gradient(to right, #465796, #5F7ADA 60%);
  margin-right: 10px; 
}

.linhas:first-child {
  width: 190px; 
}

.linhas:nth-child(2) {
  width: 180px;
}

.linhas:nth-child(3) {
  width: 90px;
  margin-right: 100px;
}

.linhas:nth-child(4) {
  width: 48px;
  margin-right: 100px;
}

.linhas:nth-child(5) {
  width: 23px;
  margin-right: 180px;
}


#pontuação > li{
  margin-bottom: 7px;
}

.texto-pontos {
  display: inline-block;
  position: absolute;
  left: calc(320px - 1vw);
}

#pontuação > li{
  margin-bottom: 7px;
  text-align: justify;
}

#caixa2 {
  width: 96%;
  height: fit-content;
  margin: auto;
  background-color: var(--cor-blocos);
  border-radius: 10px;
  margin-top: 7px;
  margin-bottom: 1px;
  padding-bottom: 10px;
}

#caixa2 > h2 {
  padding: 10px 0px 0px 5px;
}

#caixa2 > p {
  padding-left: 7px;
  padding-bottom: 10px;
}

#caixa2 > div:nth-child(3) {
  width: fit-content;
  display: inline-block;
  padding: 0px 10px 0px 10px;
  border-right: 3px solid var(--cor-risco);
}

#caixa2 > div:nth-child(3) > ul > li {
  padding-bottom: 4px;
}

#caixa2 > div.graficos > div:nth-child(1) {
  background: linear-gradient(to right, #C17DFB 0%, #8B52E1 67%);
}

#caixa2 > div.graficos > div:nth-child(2) {
  background: linear-gradient(to right, #C17DFB 0%, #8B52E1 67%);
}

#caixa2 > div.graficos > div:nth-child(3) {
  background: linear-gradient(to right, #C17DFB 0%, #8B52E1 67%);
}

#caixa2 > div.graficos > div:nth-child(4) {
  background: linear-gradient(to right, #C17DFB 0%, #8B52E1 67%);
}

#caixa2 > div.graficos > div:nth-child(5) {
  background: linear-gradient(to right, #C17DFB 0%, #8B52E1 67%);
}

#texto-horas {
  display: inline-block;
  position: absolute;
  left: calc(320px - 2vw);
  text-align: justify;
}

#texto-horas > ul > li {
  margin-bottom: 5px;
}

#sobre-server > div:first-child {
  margin-top: 10px;
}

#sobre-server h2 {
  display: inline-block;
  font-size: 24px;
}

.main-nav {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid var(--cor-risco);
}

.main-nav div {
  text-align: center;
  flex-grow: 1;
}

.main-nav > div > p {
  font-size: 18px;
  padding: 2px 10px ;
}

#noticias {
  display: none;
}

.titulo {
  transform: translateY(20px);
  margin-left: 2px;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: #353434;
  color: white;
  border: 1px solid rgb(39, 36, 36);
  border-radius: 5px;
  overflow-x: hidden;
}
th, td {
  border: 1px solid #999;
  padding: 8px;
  text-align: left;
}

#eventos > table > tbody > tr:nth-child(3) > td {
  padding: 2px;
}

.white-bg {
  padding: 5px;
  border-radius: 5px;
}
.white-bg ul {
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 20px;
}

.materia {
  width: 78%;
  height: fit-content;
  background-color: var(--cor-blocos);
  border-radius: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

#noticias > div.materia > div {
  width: 50%;
}

.imagem {
  width: 50%;
}

#noticias > div.materia > div > h3 {
  padding: 5px;
}

#noticias > div.materia > div > p {
  padding: 5px;
}


footer {
  border-top: 1px solid var(--cor-risco);
  padding: 10px;
}

footer a {
  color: white;
}