@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: var(--fonte-padrão);
}

:root {
    --fonte-padrão: 'Roboto', sans-serif;
    --cor-blocos: #1A1A20;
}

/* Estilos para o menu */
.mobile-nav {
    width: 100vw;
    height: 7vh;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; /* Alterando para exibir os itens verticalmente */
    position: absolute;
    top: 7vh;
    right: 20px;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1;
    display: none; /* Inicialmente oculto */
  }
  
  .menu-list.active {
    display: flex; /* Exibir quando a classe active estiver presente */
  }
  
  .menu-list li {
    display: block;
  }
  
  .menu-list a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px;
  }
  
  #hamburger-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    margin-right: 30px;
  }
  
  #hamburger-btn span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: all 0.3s ease;
  }
  
  /* Estilos para animar o ícone do menu hamburguer */
  #hamburger-btn.active span:nth-child(2) {
    opacity: 0;
  }
  
  #hamburger-btn.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  
  #hamburger-btn.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  
  /* Estilos para o menu quando aberto */
  .menu-open {
    display: block;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }


nav > div:nth-child(1n) > img {
    width: 100px;
    margin-right: 50px;
}
